<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>648073884047-s0er3qgf0d3fm4c0f3ou59n7ged6ogfa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648073884047-s0er3qgf0d3fm4c0f3ou59n7ged6ogfa</string>
	<key>API_KEY</key>
	<string>AIzaSyDTD_un8ZeqyoP2Mgk_JI3fEGGlrdaeR8o</string>
	<key>GCM_SENDER_ID</key>
	<string>648073884047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tslReader.com</string>
	<key>PROJECT_ID</key>
	<string>hackbo2018-9d0bc</string>
	<key>STORAGE_BUCKET</key>
	<string>hackbo2018-9d0bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648073884047:ios:2362d1951756848e</string>
	<key>DATABASE_URL</key>
	<string>https://hackbo2018-9d0bc.firebaseio.com</string>
</dict>
</plist>